<template>
    <div>
        <!-- 사용자 상세 정보 -->
        <section>
           <user-profile>
               <router-link slot="username" v-bind:to="`/user/${getItem.user}`"> {{ getItem.user }} </router-link>
               <template slot="time"> {{ getItem.time_ago }} </template>
           </user-profile>
        </section>
        <section>
            <h2> {{ getItem.title }} </h2>
        </section>
        <!-- 질문 댓글 -->
        <section>
            <div v-html="getItem.content"></div>
        </section>
    </div>

</template>

<script>
    import UserProfile from '../components/UserProfile';

    export default {
    	components: {
		    UserProfile,
        },
        computed:  {
            getItem(){
                return this.$store.state.item;
            }
        },
        created() {
            const itemId = this.$route.params.id;
            this.$store.dispatch('FETCH_ITEM', itemId);
        }
    }
</script>

<style scoped>
    .user-container {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }
    .user-description {
        padding-left: 8px;
    }
    .time {
        font-size: 0.7rem;
    }

</style>