<template>
    <div>
        <list-item></list-item>
    </div>
</template>

<script>
	import ListItem from '../components/ListItem';

	const TAG = 'JobsView';

	export default {
		components : {
			ListItem,
        },
		created() {
			console.log('[%s]:created...', TAG);
		}
	}
</script>