<template>
    <div class="user-container">
        <div>
            User
        </div>
        <div class="user-description">
            <slot name="username">
                <!-- 상위 컴포넌트에서 정의할 영역  -->
            </slot>
            <!--<router-link v-bind:to="`/user/${info.id}`"> {{ info.id }} </router-link>-->
            <div class="time">
                <slot name="time">
                    <!-- 상위 컴포넌트에서 정의할 영역  -->
                </slot>
                <slot name="karma"></slot>
            </div>

        </div>
    </div>

</template>

<script>
    export default {
    	props :{
    		info: Object
        },
	    computed: {
		    userInfo() {
			    return this.$store.state.user
		    }
	    },
    }

</script>

<style scoped>
    .user-container {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }
    .user-description {
        padding-left: 8px;
    }
    .time {
        font-size: 0.7rem;
    }
</style>