<template>
    <div id="app">
        <Toolbar></Toolbar>
        <transition name="page">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
import Toolbar from './components/Toolbar.vue';

export default {
    components: {
        Toolbar,
    },
}
</script>

<style>
    body {
        padding: 0;
        margin: 0;
    }

    a {
        color: #34495e;
        text-decoration: none;
    }

    a:hover {
        color: #42b883;
        text-decoration: underline;
    }

    a.router-link-active {
        text-decoration: underline;
    }

    .page-enter-active, .page-leave-active {
        transition: opacity .5s;
    }

    .page-enter, .page-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
